/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "assets/styles/animations.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*set bg image to class .bg*/
.bg {
  background-image: url("assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  height: 100vh;
}

img {
  width: 100%;
}

img.icon {
  width: auto;
}

a {
  cursor: pointer;
}

a.red,
.red {
  color: #be0000;
  text-decoration: none;
}

body {
  font-family: "Montserrat", 'Inter', sans-serif;
}

.primary-btn,
.secondary-btn {
  background-color: #2f5597;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: inter;
}

.primary-btn:hover {
  background-color: #1e3a6f;
  color: #fff;
}

.secondary-btn {
  background-color: #be0000;
}

.secondary-btn:hover {
  background-color: #a80000;
}

.bg-dark {
  background-color: #2f5597;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

button:disabled {
  opacity: 0.7;
}

.heading-mont {
  font-family: 'inter', 'montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.heading-inter {
  font-family: 'inter', 'montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.link {
  cursor: pointer;
}

html,
body {
  height: 100%;
}